* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'RedHatText-Regular';
  src: url('../assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText-Bold';
  src: url('../assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText-Italic';
  src: url('../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RedHatText-SemiBold';
  src: url('../assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: 'RedHatText-Bold', sans-serif;
}

body {
  font-family: 'RedHatText-Regular', sans-serif;
  background-color: #FCF8F6;
  color: #260F08;
}

.main-page {
  /*display: grid;
  place-items: center;*/
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.main-page__title {
  width: 100%;
  font-size: 40px;
  margin-bottom: 8px;
}

.main-page__cart {
  min-width: 384px;
  background: #fff;
  border-radius: 12px;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 150px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.main-page__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-page__products {
  /*border: 1px solid rgb(0, 0, 0);*/
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  gap: 1rem;
}

.main-page__cart {
  /*border: 1px solid rgb(25, 0, 255);*/
  flex: 1;
  width: 384px;
  height: 299px;
}

.products__item {
  width: 250px;
  height: 347px;
}

.products__item-cart {
  position: relative;
}

.products__item-image {
  border-radius: 8px;
}

.products__item-button {
  font-size: 14px;
  font-family: 'RedHatText-SemiBold', sans-serif;
  position: absolute;
  z-index: 999;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid #AD8A85;
  background: #fff;
  border-radius: 24px;
  cursor: pointer;
  width: 160px;
}

.products__item-button:hover {
  color: #C73B0F;
  border: 1px solid #C73B0F;
}

.products__item-label, .content-card__details-text {
  font-family: 'RedHatText-Regular', sans-serif;
  color: #87635A;
  font-weight: 100;
  font-size: 14px;
  margin-top: 34px;
}

.products__item-name {
  font-family: 'RedHatText-SemiBold', sans-serif;
  font-size: 16px;
  color: #260F08;
  padding: 4px 0;
}

.products__item-price {
  color: #C73B0F;
}

.content-cart__title {
  font-family: 'RedHatText-Bold', sans-serif;
  font-size: 24px;
  color: #C73B0F;
  margin: 24px;
}

.content-cart__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}